<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>布局 - 上中下一栏布局</title>
    <link rel="stylesheet" href="../css/notes.css" />
    <style>
    /* layout */
    body{ line-height:50px; color: #000; font-size: 14px; text-indent: 24px; }
    .m-header{
        height: 50px; background: #65c9fb;
    }
    .m-footer{
        height: 50px; background: #99c9f9;
    }
    .m-maincont{
        min-height: 50%; background: #c9fbfa;
    }
    </style>
</head>
<body>

<header class="m-header">页头</header>
<section class="m-maincont">主体内容区域</section>
<footer class="m-footer">页脚</footer>
    
</body>
</html>